<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Flash Flood Occurrence Predictor</title>
</head>
<body>
   <section>
    <div class="container">
       <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1 id="title">Flash Flood Prediction Model</h1>
            <form action="/api" id="survey" method="post">
              <select class="form-select" name="slope-position" id="slope-position" >
                <option selected>Slope Position</option>
                <option value="A">A</option>
                <option value="D">D</option>
                <option value="H">H</option>
                <option value="L">L</option>
                <option value="M">M</option>
              </select>
              <select class="form-select" name="surface-stoniness" id="surface-stoniness" >
                <option selected>Surface Stoniness</option>
                <option value="A">A</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="V">V</option>
              </select>
              <select class="form-select" name="affected-area" id="affected-area" >
                <option selected>Affected Area</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <select class="form-select" name="erosion-degree" id="erosion-degree" >
                <option selected>Erosion Degree</option>
                <option value="E">E</option>
                <option value="M">M</option>
                <option value="S">S</option>
                <option value="V">V</option>
              </select>
              <select class="form-select" name="sensitivity-to-capping" >
                <option selected>Sensitivity to Capping</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="S">S</option>
                <option value="W">W</option>
              </select>
              <div class="mb-1">
                <label for="wind-speed" class="form-label">Wind Speed</label>
                <input required type="text" name="wind-speed" class="form-control" id="wind-speed">
              </div>
              <div class="mb-1">
                <label for="temperature" class="form-label">Temperature</label>
                <input required type="text" name="temperature" class="form-control" id="temperature">
              </div>
              <div class="mb-1">
                  <label for="soil-moisture" class="form-label">Soil Moisture Content</label>
                  <input required type="text" name="soil-moisture" class="form-control" id="soil-moisture">
                </div>
                <div class="mb-1">
                  <label for="humidity" class="form-label">Humidity</label>
                  <input required type="text" class="form-control" name="humidity" id="humidity">
                </div>
                <div class="mb-1">
                  <label for="rainfall-amount" class="form-label">Rainfall</label>
                  <input required type="text" class="form-control" name="rainfall" id="rainfall-amount">
                </div>
                <div class="mb-1">
                  <label for="river-discharge" class="form-label">River Discharge</label>
                  <input required type="text" class="form-control" name="river-discharge" id="river-discharge">
                </div>
                <select class="form-select" name="land-use" id="land-use" >
                  <option selected>Land Use Type</option>
                  <option value="Forest">Forest</option>
                  <option value="Agriculture">Agriculture</option>
                  <option value="Urban">Urban</option>
                  <option value="Wetland">Wetland</option>
                </select>
                <div class="mb-1">
                  <label for="erosion-degree" class="form-label">Erosion Degree</label>
                  <input type="text" class="form-control" name="erosion-degree" id="erosion-degree">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col"></div>
       </div>
    </div>
   </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>